.home{
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.home-poster-img{
    width: 100%;
    z-index: -1;
    margin-bottom: -150px;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home-row{
    display: flex;
    margin: 0px 10px;
}

    
@media screen and (max-width:640px) and (min-width:360px){
    .home-poster-img{
        margin-bottom: -50px;
    }
}
