.table{
  margin-top: 20px;
  overflow:auto ;
  color: #6a5d5d;
  background-color: white;
  height: 300px;
}

.table::-webkit-scrollbar{
    overflow: hidden;
}

td{
    padding: 10px;
    margin: 10px;
}

tr:nth-child(odd){
    background-color: #e4e4e4;
}